<div class="row">
    <div class="xs-col-12">
        <button class="btn bt-success">New Recipe</button>
    </div>
</div>
<div class="row">
    <div class="xs-col-12">
        <a href="#" class="list-group-item clearfix">
            <div class="pull-left">
                <h4 class="list-group-item-heading">{{ name }}</h4>
                <p class="list-group-item-text">{{ description }}</p>
            </div>
            <span class="pull-right">
                <img src= {{ imagePath }} alt="" class="image-responsive" style="max-height: 50px;">
            </span>
        </a>
        <app-recipe-item *ngFor="let recipe of recipes"></app-recipe-item>
    </div>
</div>

